<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<style>
    td {
        border: solid 1px #00a;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: monospace;
        font-size: 16px;
    }
    table {
        border-collapse: collapse;
    }
    .title {
        font-weight: bold;
        color: #aa0;
        text-align: center;
    }
    .settitle {
        color: #070;
        text-align: center;
    }
    .label {
        font-family: monospace;
        color: #007;
    }
</style>

<div id="app">
    <button v-on:click="setpass">Set Password</button>
    <span class="label">Search regex</span>
    <input type="text" v-on:input="searchchanged">
    <hr>
    <table>
    <tr>
        <td>User</td>
        <td class="title">Current Title</td>
        <td class="settitle">Set Title</td>
    </tr>
    <tr v-for="user in filteredusers">
        <td><a :href="`https://lichess.org/@/${user._id}`" rel="noopener noreferrer" target="_blank">{{ user._id }}</a></td>
        <td class="title">{{ user.title }}</td>
        <td class="settitle">
            <select class="settitle" v-on:change="titlechanged(event)">
                <option class="settitle" v-for="title in titles" :value="`${user._id}|${title}`" :selected="user.title === title">
                     {{ title }}
                </option>
            </select>
        </td>
    </tr>
    </table>
</div>

<script>
    const data = {
        users: [],
        titles: ["", "ATPATZER", "AT1", "AT2", "AT3", "ATNM", "ATCM", "ATM", "ATIM", "ATGM", "ATSGM"],
        regex: new RegExp("")
    }

    async function getUsers(){
        const resp = await fetch("/users")
        const json = await resp.json()

        data.users = json.sort((a,b)=>a._id.localeCompare(b._id))

        console.log("fetched", json)
    }

    var app = new Vue({
        el: "#app",
        data,
        computed: {
            filteredusers: ()=>data.users.filter(user=>user._id.match(data.regex))
        },
        methods:{
            searchchanged(ev){
                const regex = new RegExp(ev.target.value, "i")

                data.regex = regex
            },
            setpass(){
                const pass = window.prompt("Enter Server Password")

                localStorage.setItem("PASSWORD", pass)
            },
            titlechanged(ev){
                const [user, title] = ev.target.value.split("|")

                console.log("give title", title, "to user", user)

                const params = {
                    method:"POST",
                    headers:{
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        user,
                        title,
                        password: localStorage.getItem("PASSWORD")
                    })}

                console.log("fetch", params)

                fetch("/changetitle", params).then(resp => resp.json().then(json => {
                    console.log(json)

                    if(json.error){
                        window.alert(json.error)
                    }else{
                        data.users.find(item => item._id === user).title = title
                    }
                }))
            }
        }
    });

    document.title = `Liantichess Titles Manager`

    getUsers()


</script>
